@font-face {
  font-family: "KarmaFuture";
  src: url(/font/KarmaFuture.ttf) format("truetype");
}
@font-face {
  font-family: "SommoFont";
  src: url(/font/VCR_OSD_MONO_1.001.ttf) format("truetype");
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}
body,
html {
  width: 100%;
  background: #191938;
}
header {
  background: #32324e;
  height: 6rem;
  width: 100%;
  display: flex;
  justify-content: space-between;
  position: sticky;
  top: 0;
  z-index: 99;
}
#titlediv {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #c10000;
  width: 200px;
}
header div h1 {
  display: inline;
  color: white;
  font-family: KarmaFuture;
}
#navlinksdiv {
  display: inline-flex;
  vertical-align: middle;
}
#navlinksdiv ul li {
  display: inline-flex;
  margin: 2.1rem;
  margin-top: 2rem;
  font-size: 1.5rem;
  font-family: SommoFont;
}
#navlinksdiv ul li a {
  text-decoration: none;
  color: white;
  transition: all 0.4s ease;
}
#navlinksdiv ul li a:hover {
  color: red;
  transition: all 0.2s ease;
  border-radius: 10px;
}
p {
  font-size: 20px;
  color: white;
}
.underline {
  text-decoration: underline !important;
}

main h1 {
  color: white;
  font-family: SommoFont;
  display: inline-block;
  margin: 20px;
}

#textdiv div {
  display: inline-block;
  background-color: #0d0d1b;
  margin-top: 40px;
  margin-left: 40px;
}

#textdiv p {
  font-family: SommoFont;
  font-weight: 100;
  margin: 45px;
  line-height: 30px;
  text-align: justify;
}

#textdiv p a {
  color: aqua;
}

img {
  float: right;
  height: 600px;
  margin: 40px;
}
